<div class="navigation">



  <nav class="navbar navbar-dark bg-dark row">
    <a class="navbar-brand col-md-2" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="" id="">
      <div class="navbar-nav responsivenav">
        <a class="col-md-2 nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="col-md-2 nav-item nav-link" href="#">Login</a>
        <a class="col-md-2 nav-item nav-link" href="#">Register</a>
        <a class="col-md-2 nav-item nav-link disabled" href="#">Admin Interface</a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Login</a>
        <a class="nav-item nav-link" href="#">Register</a>
        <a class="nav-item nav-link disabled" href="#">Admin Interface</a>
      </div>
    </div>
  </nav>

  <div class="text-center col-md-12 buttonaccess">
    <button type="button" name="button" class="btn btn-success">Access your survey</button>
  </div>
</div>

<main>
  <div class="row">
    <link rel="shortcut icon" href=".ico" class="col-md-1">
    <h3 class="text-center col-md-8">Documentation</h3>
    <div class="col-md-6">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</main>

<footer class="footer">

</footer>
