@media only screen and (max-width : 760px ) {
.responsivenav {
  display: none;
}
}
@media only screen and (min-width : 760px ) {
.navbar-collapse {
  display: none;
}
.navbar-toggler {
  display: none;
}
.responsivenav {
  display: inline;
}
}
.navigation {
  background-image: image-url('background.jpg');
  background-size: cover;
}
nav {
  opacity: 0.5;
  
}
.buttonaccess{
  margin-top: 250px;
  padding-bottom: 250px;
}
.footer {
  background-color: #383C43;
  height: 50px;
  width: 100%;
  bottom: 0px;
}
